.col-sm-2 {
  height: 60px;
}

// checkToggle1-01
// ==================================================/
.checkToggle1-01 {
  // @extend %display--inline-block;
  @include center-both; // for preview only; use the extender above for actual usage
  // width: 126px;
  // background-color: #000;
  
  input[type=checkbox]{
    height: 0;
    width: 0;
    display: none;
  }

  .checkToggle1-01_vlabel {
    vertical-align: middle;
  }

  .checkToggle1-01_bg {
    @extend %pos--relative;
    @extend %display--inline-block;
    @include border-radius(50);
    background-color: #666;
    width: 40px;
  }

  .checkToggle1-01_switch {
    @extend %display--inline-block;
    @include border-radius(50);
    background-color: blue;
    height: 20px;
    width: 20px;
    transition: 0.1s;
  }

  input:checked ~ .checkToggle1-01_bg {
    background-color: pink;
  }

  input:checked ~ .checkToggle1-01_bg >.checkToggle1-01_switch {
    margin-left: 20px;
    // left: calc(100%);
    // transform: translateX(100%);
  }

  // input:checked ~ .checkToggle1-01_vlabel:after {
  //    content: 'on';
  // }

  // disabled
  input:disabled ~ .checkToggle1-01_bg {
    background-color: #ccc;
  }

  input:disabled ~ .checkToggle1-01_bg >.checkToggle1-01_switch {
    background-color: #eee; 
  }
}

// checkToggle1-02
// ==================================================/
.checkToggle1-02 {
  // @extend %display--inline-block;
  @include center-both; // for preview only; use the extender above for actual usage
  // background-color: #ccc;

  input[type=checkbox]{
    height: 0;
    width: 0;
    display: none;
  }

  .checkToggle1-02_vlabel {
    vertical-align: middle;
  }

  .checkToggle1-02_bg {
    @extend %pos--relative;
    @extend %display--inline-block;
    @include border-radius(2);
    background-color: #ccc;
    width: 20px;
    height: 20px;
  }

  input:checked ~ .checkToggle1-02_bg {
    background-color: #666;
  }

  input:checked ~ .checkToggle1-02_bg:after {
    color: #fff;
    content: "z";
    // top: 30px;
    // left: -50px;
  }

  // input:checked ~ .checkToggle1-01_vlabel:after {
  //    content: 'on';
  // }

  // disabled
  input:disabled ~ .checkToggle1-02_bg {
    background-color: #ccc;
  }
}